<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>หน้าหลัก Admin</title>
</head>
<body>
<div layout:fragment="content">
    <div class="alert alert-primary text-right" role="alert">
        งวดที่ เปิดชนเลข:
        <span th:each="rd : ${roundList}">
            <button type="button" class="btn btn btn-secondary" th:text="${rd.number}">number</button>&nbsp;&nbsp;
        </span>
        จำนวนเลขทีส่งเข้ามาทั้งหมด: <button type="button" class="btn btn btn-primary" th:text="${lottosRound}">countUserLotto</button>&nbsp;&nbsp;
        จำนวนเลขที่ชนสำเร็จ: <button type="button" class="btn btn btn-success" th:text="${lottosRoundMatched}">notMatchUserLotto</button>&nbsp;&nbsp;
        จำนวนเลขที่ชนไม่สำเร็จ: <button type="button" class="btn btn btn-danger" th:text="${lottosRoundNotmatched}">notMatchUserLotto</button>&nbsp;&nbsp;
    </div>


    <div class="text-right">จำนวนทั้งหมด: <b th:text="${#lists.size(deliveryList)}">[deliveryList]</b></div>

    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">ชื่อ</th>
            <th scope="col">โทร</th>
            <th scope="col">งวดที่</th>
            <th scope="col">จำนวนสลากทั้งหมด</th>
            <th scope="col">ชนสำเร็จ</th>
            <th scope="col">ชนไม่สำเร็จ</th>
            <th scope="col">สถานะ</th>
            <th scope="col">จัดการ</th>
        </tr>
        </thead>

        <tr th:each="delivery : ${deliveryList}">
            <th scope="row" th:text="${deliveryStat.index+1}">#</th>
            <td th:text="${delivery.user.fullName}">fullName</td>
            <td th:text="${delivery.user.tel}">tel</td>
            <td th:text="${delivery.round}">round</td>
            <td th:text="${delivery.lottoList}">lottoList</td>
            <td th:text="${delivery.matched}" class="font-weight-bold">matched</td>
            <td th:text="${delivery.notMatched}">notMatched</td>
            <td th:text="${delivery.status}" class="font-weight-bold" >status</td>
            <td><a class="btn btn-link" th:href="@{/admin/delivery/{id}(id=${delivery._id})}">ตรวจสอบ</a></td>
        </tr>
    </table>



</div>


</body>
</html>