<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>หน้าหลัก Admin</title>
</head>
<body>
<div layout:fragment="content">
    <div class="alert alert-primary text-right" role="alert">
        งวดที่:
        <span th:each="rd : ${roundList}">
            <button type="button" class="btn btn btn-secondary" th:text="${rd.number}">number</button>&nbsp;&nbsp;
        </span>
        ส่งเข้ามาทั้งหมด: <button type="button" class="btn btn btn-primary" th:text="${lottosRound}">countUserLotto</button>&nbsp;&nbsp;
        ชนสำเร็จทั้งหมด: <button type="button" class="btn btn btn-warning" th:text="${lottosRoundMatched}">lottosRoundMatched</button>
        ชนไม่สำเร็จทั้งหมด: <button type="button" class="btn btn btn-danger" th:text="${lottosRoundNotmatched}">notMatchUserLotto</button>
        ส่งเล่มแล้วทั้งหมด: <button type="button" class="btn btn btn-success" th:text="${lottosRoundReceived}">lottosRoundReceived</button>
    </div>


    <div class="text-right">จำนวนทั้งหมด: <b th:text="${#lists.size(deliveryList)}">[deliveryList]</b></div>

    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">ชื่อ</th>
            <th scope="col">โทร</th>
            <th scope="col">งวดที่</th>
            <th scope="col">จำนวนสลากทั้งหมด</th>
            <th scope="col">ชนสำเร็จ</th>
            <th scope="col">ชนไม่สำเร็จ</th>
            <th scope="col">ส่งเล่มแล้ว</th>
            <th scope="col">สถานะ</th>
            <th scope="col">จัดการ</th>
        </tr>
        </thead>

        <tr th:each="delivery : ${deliveryList}">
            <th scope="row" th:text="${deliveryStat.index+1}">#</th>
            <td th:text="${delivery.user.fullName}">fullName</td>
            <td th:text="${delivery.user.tel}">tel</td>
            <td th:text="${delivery.round}">round</td>
            <td th:text="${delivery.lottoList}">lottoList</td>
            <td th:text="${delivery.matched}" class="font-weight-bold">matched</td>
            <td th:text="${delivery.notMatched}">notMatched</td>
            <td th:text="${delivery.received}">received</td>
            <td th:if="${delivery.status == 'Complete'}" th:text="สำเร็จ" class="font-weight-bold" >status</td>
            <td th:if="${delivery.status == 'Pending'}" th:text="กำลังจัดการ" class="font-weight-bold" >status</td>
            <td th:if="${delivery.status == 'Not complete'}" th:text="ไม่สำเร็จ" class="font-weight-bold" >status</td>
            <td><a class="btn btn-link" th:href="@{/admin/delivery/{id}(id=${delivery.id})}">ตรวจสอบ</a></td>
        </tr>
    </table>



</div>


</body>
</html>