<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>หน้าหลัก Admin</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:inline="text">สวัสดี [[${#httpServletRequest.remoteUser}]]!</h1>
    <h2>นี้คือ dashboard</h2>
    <div class="alert alert-success" role="alert" th:text="${message}" th:if="${message != null}">
        message
    </div>

</div>
</body>
</html>