<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>ซูปเปอร์ แมทชิ่ง</title>
</head>
<body>
<div layout:fragment="content">
    <div class="alert alert-success" role="alert" th:text="${message}" th:if="${message != null}">
        message
    </div>
    <div class="alert alert-danger" role="alert" th:text="${messageError}" th:if="${messageError != null}">
        messageError
    </div>
    <div>
        <div class="text-right">จำนวนทั้งหมด: <b th:text="${#lists.size(roundList)}">[roundList]</b></div>

        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">งวดที่</th>
                <th scope="col">ชื่องวด</th>
                <th scope="col">สถานะ</th>
                <th scope="col">จัดการ</th>
            </tr>
            </thead>

            <tr th:each="round : ${roundList}">
                <td th:text="${round.number}">number</td>
                <td th:text="${round.name}">name</td>
                <td>
                    <button th:if="${round.status == 'open'}" type="button" class="btn btn-success">เปิด</button>
                    <button th:if="${round.status == 'close'}" type="button" class="btn btn-danger">ปิด</button>
                    <button th:if="${round.status == 'process'}" type="button" class="btn btn-info">ประมวลผล</button>
                </td>
                <td>
                    <a class="btn btn-link" th:href="@{/admin/editRound/{number}(number=${round.number})}">แก้ไข</a>
                </td>
            </tr>
        </table>
    </div>

</div>


</body>
</html>