<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
    <head>
        <title>หน้าหลัก Admin</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h2>นี้คือ EditUser</h2>
            <div class="alert alert-success" role="alert" th:text="${message}" th:if="${message != null}" >
                message
            </div>
            <form th:action="@{/admin/editUser}" method="post">
                <h1 class="h3 mb-3 font-weight-normal">แก้ไขข้อมูล ผู้ใช้งาน</h1>
                <label>ไอดี</label>
                <input type="hidden" name="email" th:value="${user.email}">
                <input type="hidden" name="action" value="edit">
                <input type="text" id="inputEmail" class="form-control" placeholder="Username" required="" th:value="${user.email}" disabled />
                <label>รหัส</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""  th:value="${user.password}" disabled />
                <label>ชื่อ</label>
                <input type="text" name="fullName" id="inputFullName" class="form-control" placeholder="FullName" required="" th:value="${user.fullName}"  />
                <label>โทร</label>
                <input type="text" name="tel" id="inputTel" class="form-control" placeholder="Tel" required="" th:value="${user.tel}"  />
                <label>ที่อยู่</label>
                <input type="text" name="address" id="inputAddress" class="form-control" placeholder="Address" required="" th:value="${user.address}" />
                <label>ข้อมูล</label>
                <input type="text" name="note" id="inputNote" class="form-control" placeholder="Note" required="" th:value="${user.note}"  />
                <br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">แก้ไข</button>
            </form>


            <form class="form-signin" th:action="@{/admin/editUser}" method="post">
                <input type="hidden" name="email" th:value="${user.email}">
                <input type="hidden" name="action" value="setPassword">
                <button class="btn btn-md btn-success btn-block" type="Submit">เปลียนรหัสค่าเริ่มต้น</button>
            </form>


            <form class="form-signin" th:action="@{/admin/editUser}" method="post">
                <input type="hidden" name="email" th:value="${user.email}">
                <input type="hidden" name="action" value="delete">
                <button class="btn btn-md btn-success btn-block" type="Submit">ลบ</button>
            </form>

        </div>


    </body>
</html>