<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>หน้าหลัก Admin</title>
</head>
<body>
<div layout:fragment="content">
    <div class="alert alert-success" role="alert" th:text="${message}" th:if="${message != null}">
        message
    </div>
    <div class="alert alert-danger" role="alert" th:text="${messageError}" th:if="${messageError != null}">
        messageError
    </div>
    <div>
        ตาราง ผู้ใช้งาน

        <form class="text-right" th:action="@{/admin/addUser}" method="get">
            <button class="btn btn-success btn-lg btn-block" type="Submit"> เพิ่ม</button>
        </form>

        <div class="text-right">จำนวนทั้งหมด: <b th:text="${#lists.size(usersList)}">[usersList]</b></div>

        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">ชื่อ</th>
                <th scope="col">โทร</th>
                <th scope="col">ที่อยู่</th>
                <th scope="col">โน้ต</th>
                <th scope="col">roles</th>
                <th scope="col">จัดการ</th>
            </tr>
            </thead>

            <tr th:each="usList : ${usersList}">
                <th scope="row" th:text="${usListStat.index+1}">#</th>
                <td th:text="${usList.email}">Id</td>
                <td th:text="${usList.fullName}">fullName</td>
                <td th:text="${usList.tel}">tel</td>
                <td th:text="${usList.address}">address</td>
                <td th:text="${usList.note}">note</td>
                <td>
                            <span th:each="role : ${usList.roles}">
                                    <b th:text="${role.role}">role</b>
                            </span>
                </td>
                <td><a class="btn btn-link" th:href="@{/admin/editUser/{id}(id=${usList.email})}">แก้ไข</a></td>
            </tr>
        </table>
    </div>

</div>


</body>
</html>