<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>หน้าหลัก Admin</title>
</head>
<body>
<div layout:fragment="content">
    <h2>นี้คือ เปลียนรหัสผ่าน</h2>

    <div class="alert alert-success" role="alert" th:text="${message}" th:if="${message != null}">
        message
    </div>

    <div class="alert alert-danger" role="alert" th:text="${messageError}" th:if="${messageError != null}">
        messageError
    </div>
    <form class="form-signin" th:action="@{/changePassword}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">แก้ไขข้อมูล เปลียนรหัสผ่าน</h1>
        <label>ไอดี</label>
        <input type="hidden" name="email" th:value="${user.email}">
        <input type="text" id="inputEmail" class="form-control" placeholder="Username" required=""
               th:value="${user.email}" disabled/>
        <label>รหัส เดิม</label>
        <input type="password" name="password" class="form-control" placeholder="รหัสเดิม" required="กรุณากรอกข้อมูล"/>

        <label>รหัส ไหม่</label>
        <input type="password" name="newPassword" class="form-control" placeholder="รหัสไหม่"
               required="กรุณากรอกข้อมูล"/>

        <label>ยืนยันรหัสไหม่ อีกครั้ง</label>
        <input type="password" name="confirmPassword" class="form-control" placeholder="ยืนยันรหัสไหม่"
               required="กรุณากรอกข้อมูล"/>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">เปลียนรหัสผ่าน</button>
    </form>


</div>


</body>
</html>