<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>ซูปเปอร์ แมทชิ่ง</title>
</head>
<body>
<div layout:fragment="content">

    <div class="alert alert-danger text-center" role="alert">
        พบข้อผิดพลาด กรุณาลองไหม่อีกครั้ง หรือ แจ้งผู้ดูแลระบบ
    </div>

    <form class="form-signin text-center text-center" th:action="@{/login}" method="post">
        <img class="mb-4" src="/images/matching_logo.jpg" alt="" width="100" height="100"/>
        <h1 class="h3 mb-3 font-weight-normal">กรุณากรอกข้อมูลผู้ใช้งาน</h1>
        <label for="inputEmail" class="sr-only">ไอดี</label>
        <input type="text" name="email" id="inputEmail" class="form-control" placeholder="Email" required=""/>
        <label for="inputPassword" class="sr-only">รหัส</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
               required=""/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">เข้าสู่ระบบ</button>
    </form>
</div>
</body>
</html>