<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>หน้าหลัก Admin</title>
</head>
<body>
<div layout:fragment="content">
    ตารางเลขชน
    <div class="alert alert-primary text-right" role="alert">
        งวดที่ เปิดชนเลข:
        <span th:each="rd : ${roundList}">
            <button type="button" class="btn btn btn-secondary" th:text="${rd.number}">number</button>&nbsp;&nbsp;
        </span>
        จำนวนที่ส่งเลขได้ทั้งหมด: <button type="button" class="btn btn btn-primary" th:text="${#lists.size(userLotto)}">countUserLotto</button>&nbsp;&nbsp;
        จำนวนเลขที่ชนสำเร็จ: <button type="button" class="btn btn btn-success" th:text="${#lists.size(matchedLotto)}">matchedLotto</button>&nbsp;&nbsp;
    </div>

    <div>

        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column px-1">
                <div class="border p-2 m-1" th:each="r : ${r0}"><b th:text="${r.number}"></b> - <b th:text="${r.group}"></b></div>
            </div>

            <div class="d-flex flex-column px-1">
                <div class="border p-2 m-1" th:each="r : ${r1}"><b th:text="${r.number}"></b> - <b th:text="${r.group}"></b></div>
            </div>

            <div class="d-flex flex-column px-1">
                <div class="border p-2 m-1" th:each="r : ${r2}"><b th:text="${r.number}"></b> - <b th:text="${r.group}"></b></div>
            </div>

            <div class="d-flex flex-column px-1">
                <div class="border p-2 m-1" th:each="r : ${r3}"><b th:text="${r.number}"></b> - <b th:text="${r.group}"></b></div>
            </div>

            <div class="d-flex flex-column px-1">
                <div class="border p-2 m-1" th:each="r : ${r4}"><b th:text="${r.number}"></b> - <b th:text="${r.group}"></b></div>
            </div>

            <div class="d-flex flex-column px-1">
                <div class="border p-2 m-1" th:each="r : ${r5}"><b th:text="${r.number}"></b> - <b th:text="${r.group}"></b></div>
            </div>

            <div class="d-flex flex-column px-1">
                <div class="border p-2 m-1" th:each="r : ${r6}"><b th:text="${r.number}"></b> - <b th:text="${r.group}"></b></div>
            </div>

            <div class="d-flex flex-column px-1">
                <div class="border p-2 m-1" th:each="r : ${r7}"><b th:text="${r.number}"></b> - <b th:text="${r.group}"></b></div>
            </div>

            <div class="d-flex flex-column px-1">
                <div class="border p-2 m-1" th:each="r : ${r8}"><b th:text="${r.number}"></b> - <b th:text="${r.group}"></b></div>
            </div>

            <div class="d-flex flex-column px-1">
                <div class="border p-2 m-1" th:each="r : ${r9}"><b th:text="${r.number}"></b> - <b th:text="${r.group}"></b></div>
            </div>

        </div>

    </div>

</div>


</body>
</html>